<a href="https://colab.research.google.com/github/jluceror/aplicaciones_web_2020/blob/master/DatosProyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Load the dataset
df = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/DataUsuariosMejorada.csv')

# Convertir la columna 'Fecha' en objetos de fecha y hora, forzando errores
# Esto convertirá formatos de fecha no válidos como "0000-00-00 00:00:00" en NaT
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')

# Extraiga el año de la columna 'Fecha', lo que dará como resultado NaN para los valores NaT
df['Año'] = df['Fecha'].dt.year

# Extraiga el año de la columna 'Fecha', lo que dará como resultado NaN para los valores NaT
df = df.dropna(subset=['Año'])

# Convertir la columna 'Año' a tipo entero
df['Año'] = df['Año'].astype(int)

# Agrupa por año y obtén un 'Usuarios_Id' único
UsuariosUnicosPorAnio = df.groupby('Año')['Usuarios_Id'].nunique()

# Mostrar el número de usuarios únicos por año
UsuariosUnicosPorAnio

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Año
2011     699
2012     928
2013    1513
2014    2612
2015    2513
2016    3039
2017    4645
2018    3966
2019    4716
2020    8611
2021    7158
2022    6080
2023    7137
2024    7197
2025    3973
Name: Usuarios_Id, dtype: int64

In [11]:
# Ver el DataFrame
print(df)

        Usuarios_Id               Fecha  Profesiones_Id   Año
0             33480 2014-03-24 12:03:16               1  2014
1             27997 2014-03-24 15:38:46               1  2014
2             29824 2014-03-24 17:47:45               1  2014
3             23457 2014-03-24 18:51:07               1  2014
4             31318 2014-03-24 21:51:52               1  2014
...             ...                 ...             ...   ...
125735       112426 2025-06-14 18:21:47               1  2025
125736       100714 2025-06-14 19:09:24               1  2025
125737       100714 2025-06-14 19:37:17               1  2025
125738        10540 2025-06-14 20:42:26               1  2025
125739        36584 2025-06-14 22:18:01               1  2025

[124615 rows x 4 columns]

In [12]:
# inmediato: Mostrar total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024

# Filtrar datos de los años 2014 a 2024
df_filtered = df[(df['Año'] >= 2014) & (df['Año'] <= 2024)]

# Obtener el número total de 'Usuarios_Id' únicos en el DataFrame filtrado
TotalUsuariosMat = df_filtered['Usuarios_Id']

# Mostrar el recuento total
print(f"Total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024: {TotalUsuariosMat}")

Total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024: 0          33480
1          27997
2          29824
3          23457
4          31318
           ...
119752    105227
119753    110357
119754     64073
119755    110009
119756     50742
Name: Usuarios_Id, Length: 113083, dtype: int64

In [13]:
# inmediato: Mostrar total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024

# Filtrar datos de los años 2014 a 2024
df_filtered = df[(df['Año'] >= 2014) & (df['Año'] <= 2024)]

# Obtener el número total de 'Usuarios_Id' únicos en el DataFrame filtrado
TotalUsuariosUnicos = df_filtered['Usuarios_Id'].nunique()

# Mostrar el recuento total
print(f"Total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024: {TotalUsuariosUnicos}")

Total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024: 25426

In [14]:
# inmediato: Mostrar total de valores únicos de la tabla Usuarios_Id desde los años 2014 al 2024

# Filtrar datos de los años 2014 a 2024
df_filteredTot = df[(df['Año'] >= 2011) & (df['Año'] <= 2025)]

# Obtener el número total de 'Usuarios_Id' únicos en el DataFrame filtrado
TotalUsuariosUnicosTA = df_filteredTot['Usuarios_Id'].nunique()

# Mostrar el recuento total
print(f"Total de valores únicos de la tabla Usuarios_Id desde los años 2011 al 2025: {TotalUsuariosUnicosTA}")

Total de valores únicos de la tabla Usuarios_Id desde los años 2011 al 2025: 27098